snippet pagebreak PageBreak snippet
  <div style="page-break-after: always; break-after: page;"></div>

snippet bold Bold snippet
  **${1:text}**

snippet italic Italic snippet
  __${1:text}__

snippet image Image snippet
  <p align="center">
    <img src="${1:text}" />
  </p>
